{% extends 'base.html' %}

{% block content %}
<div style="padding: 20px; font-family: sans-serif; line-height: 1.6;">
    <h1>📜 Условия сотрудничества</h1>
    <p>Мы открыты к партнерству и всегда рады новым предложениям!</p>
    
    <table border="1" cellpadding="15" style="border-collapse: collapse; width: 100%; margin-top: 20px; border-color: #ddd;">
        <tr style="background-color: #fff5f0;">
            <th style="text-align: left; width: 30%;">Условие</th>
            <th style="text-align: left;">Описание</th>
        </tr>
        <tr>
            <td><strong>Минимальный заказ</strong></td>
            <td>Доставка осуществляется при заказе на сумму от 500 рублей.</td>
        </tr>
        <tr>
            <td><strong>Зоны доставки</strong></td>
            <td>Доставляем по всему городу. Стоимость в отдаленные районы уточняйте у оператора.</td>
        </tr>
        <tr>
            <td><strong>Оплата</strong></td>
            <td>Наличные, банковские карты при получении или онлайн-оплата на сайте.</td>
        </tr>
        <tr>
            <td><strong>Возврат</strong></td>
            <td>Свяжитесь с нами в течение часа после доставки, если качество блюда вас не устроило.</td>
        </tr>
        <tr>
            <td><strong>График работы</strong></td>
            <td>Принимаем заказы ежедневно с 10:00 до 22:00.</td>
        </tr>
    </table>
    
    <p style="margin-top: 20px;"><em>По вопросам сотрудничества пишите нам на info@pizzatime.ru</em></p>
</div>
{% endblock %}